@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation */
.slideUp-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;
} 

.slideRight-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;animation-delay: 0s;
}                             

@keyframes slideUp {  
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: inherit;  }    
}                    

@keyframes slideRight {              
    0% { opacity: 0; transform: translateX(30px); }                
    100% { opacity: 1; transform: translateX(0);   }
}

